.side_anchorpane {
    /*-fx-background-color: #EFEFEF;
    -fx-border-color: #EFEFEF;
    -fx-border-width: 2px 2px 2px 2px;
    -fx-border-radius: 50px;
    -fx-background-radius: 50px;
    -fx-border-style: solid;*/
}

.button_Dashboard {
    -fx-background-color: #564AF7;
        -fx-border-color: #564AF7;
        -fx-border-width: 2px 2px 2px 2px;
        -fx-border-radius: 50px;
        -fx-background-radius: 50px;
        -fx-border-style: solid;
}

.button_Books {
    -fx-background-color: #564AF7;
    -fx-border-color: #564AF7;
    -fx-border-width: 2px 2px 2px 2px;
    -fx-border-radius: 50px;
    -fx-background-radius: 50px;
    -fx-border-style: solid;
}

.button_Search {
    -fx-background-color: #564AF7;
    -fx-border-color: #564AF7;
    -fx-border-width: 2px 2px 2px 2px;
    -fx-border-radius: 50px;
    -fx-background-radius: 50px;
    -fx-border-style: solid;
}

.button_Profile {
    -fx-background-color: #564AF7;
    -fx-border-color: #564AF7;
    -fx-border-width: 2px 2px 2px 2px;
    -fx-border-radius: 50px;
    -fx-background-radius: 50px;
    -fx-border-style: solid;
}

.button_Setting {
    -fx-background-color: #564AF7;
    -fx-border-color: #564AF7;
    -fx-border-width: 2px 2px 2px 2px;
    -fx-border-radius: 50px;
    -fx-background-radius: 50px;
    -fx-border-style: solid;
}

.color_Pane1 {
    -fx-border-color: #564AF7;
}

.color_Pane2 {
    -fx-border-color: #564AF7;
}

.color_Pane3 {
    -fx-border-color: #564AF7;
}

.button_LogOut {
    -fx-background-color: #564AF7;
    -fx-border-color: #564AF7;
    -fx-border-width: 2px 2px 2px 2px;
    -fx-border-radius: 50px;
    -fx-border-style: solid;
}

.body{
    -fx-background-color: radial-gradient(center 50% 50%, radius 50%, #b99b81, #b69276, #a8876b);
}

.body_mid{
    -fx-backGround-color: rgba(255, 255, 255, .15);
    -fx-border-color: rgba(255, 255, 255, .15);
    -fx-border-width: 1px 1px 1px 1px;
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
    -fx-border-style: solid;
}

.button_DN{
    -fx-background-color:#a8876b;
         -fx-background-radius: 20;
         -fx-background-insets: 0,1,2,3,0;
         -fx-text-fill: white;
         -fx-font-weight: bold;
}

.button_DN:hover {
-fx-text-fill: white;
    -fx-background-color:#a8876b;
    -fx-font-size: 15px;
     -fx-opacity: 0.8;
      -fx-font-weight:bold;
}

.button_TTK{
    -fx-background-color:#a8876b;
        -fx-background-radius: 20;
        -fx-background-insets: 0,1,2,3,0;
        -fx-text-fill: white;
        -fx-font-weight: bold;
}

.button_QMK{
    -fx-backGround-color: rgba(255, 255, 255, .15);
}

.button_TTK:hover {
-fx-text-fill: white;
    -fx-background-color:#a8876b;
     -fx-opacity: 0.8;
     -fx-font-size: 14px;
      -fx-font-weight:bold;
}

.button_TTK:pressed{
       -fx-text-fill: white;
       -fx-font-weight: bold;
      /*-fx-padding: 10 15 13 15;*/
      -fx-background-insets: 2 0 0 0,2 0 3 0,2 0 4 0,2 0 5 0;
}

.button_DN:pressed{
       -fx-text-fill: white;
       -fx-font-weight: bold;
      /*-fx-padding: 10 15 13 15;*/
      -fx-background-insets: 2 0 0 0,2 0 3 0,2 0 4 0,2 0 5 0;
}

